@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: #101f25;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.formContainer {
	max-width: 50vw;
	margin: auto;
}

form fieldset {
	margin: auto;
	border: none;
}

#output {
	max-width: 50vw;
	margin: auto;
	margin-top: 2em;
}
